.photo-des-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
}

.img-container{
    width: auto;
}

.photo-block{
    min-height: 300px;
    max-height: 400px;
}

.photo-block img{
    margin: auto;
    max-width: 100%;
    max-height: 400px;
}


.text-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 300px;
}

.text-primary{
    font-size: 1.2em;
    font-weight: 600;
}

.full-desc div{
    display: inline-block;
    flex-basis: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: flex-start;
} 

textarea{
    resize: none;
}

.comment{
    background: rgba(187, 184, 184, 0.4);
}

.remove-block{
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
    transform: scaleY(0);
}

#descriptionBlock{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}